<?xml version="1.0"?>
<launch>

<param name="active" type="int" value="0" />

<param name="des_pos_x" type="double" value="1" />
<param name="des_pos_y" type="double" value="1" />


<node pkg="final_assignment" type="UI.py" name="UI" required="true" launch-prefix="xterm -fg white -bg black -e " />
<node pkg="final_assignment" type="auto.py" name="auto" required="true" launch-prefix="xterm -fg white -bg black -e " />
<node pkg="final_assignment" type="manual.py" name="manual" required="true" launch-prefix="xterm -fg white -bg black -e " /> 
<node pkg="final_assignment" type="assistive.py" name="assistive" required="true" /> 

</launch>
